<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
    </head>
    <body>
        <h1>{{.}}</h1>
        <form method="POST">
            <label>帳號:</label>
            <input type="email" placeholder="email" name="username"><br>
            <label>密碼:</label>
            <input type="password" placeholder="6個以上包含大小寫的字元" name="password"><br>
            <input type="submit" value="送出"><br>
        </form>
        <label>沒有帳號嗎?</label>
        <a href="/sign-up">註冊</a>
    </body>
</html>