<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sign Up Page</title>
    </head>
    <body>
        <h1>Sign Up Page</h1>
        <form method="POST">
            <label>帳號(email):</label><br>
            <input type="email" name="username"><br>
            <label>密碼(6個以上包含大寫的英數組合):</label><br>
            <input type="password" name="password"><br>
            <label>再次輸入密碼:</label><br>
            <input type="password" name="checkpassword"><br>
            <input type="submit" value="送出">
        </form>
    </body>
</html>